<div class="contents row">
  <%= form_for(@blog) do |f| %>
    <h3>
      編集する
    </h3>
    <%= f.text_area :text, placeholder: "ブログを書いてね", class: "textarea" %>
    <%= f.text_field :image, placeholder: "画像があるならURLを入れてね" %>
    <%= f.submit "更新する", class: "btn waves-effect waves-light yellow darken-2"%>
  <% end %>
</div>
