<div class="contents row" >
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @blogs.each do |blog| %>
  <div class="card  yellow lighten-4">
    <div class="card-content black-text">
      <span class="card-title">~ Diary ~</span>
      <%= render partial: "blogs/blog", locals: { blog: blog}%>
    </div>
  </div>
  <% end %>
  <%= paginate(@blogs) %>
</div>